<mi-chat ng-if="chatVm.username"
         title="{{chatVm.chatSettings.title}}"
         input-placeholder-text="{{chatVm.chatSettings.message.placeholder}}"
         submit-button-text="{{chatVm.chatSettings.message.button}}"
         submit-callback="chatVm.sendMessage"
         messages="chatVm.messages"
         username="chatVm.username"
         template-url="/views/chat/chat-template.html"
></mi-chat>

<mi-chat ng-if="!chatVm.username"
         title="{{chatVm.chatSettings.title}}"
         input-placeholder-text="{{chatVm.chatSettings.register.placeholder}}"
         submit-button-text="{{chatVm.chatSettings.register.button}}"
         submit-callback="chatVm.setUsername"
         messages="chatVm.messages"
         username="chatVm.username"
         template-url="/views/chat/chat-template.html"
></mi-chat>
