<div class="row mi-chat">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading chat-header">
                <h3 class="panel-title"><i class="fa fa-fw fa-comments"></i>{{chat.title}}</h3>
            </div>
            <div class="panel-body chat-body">
                <div class="row chat-message"
                     ng-repeat="message in chat.messages"
                     ng-class="{'self-authored':(chat.username == message.username),'system-authored':(message.systemMsg == true)}">
                    <div class="col-xs-11 chat-message-box" ng-class="(chat.username == message.username) ? 'col-xs-offset-1' : ''">
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <p class="author" ng-bind-html="message.username | emoticons"></p>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="date" ng-if="message.date">{{message.date|date:'dd.MM.yyyy HH:mm:ss'}}</p>
                            </div>
                        </div>
                        <p class="message" ng-bind-html="message.content | emoticons"></p>
                    </div>
                </div>
            </div>
            <div class="panel-footer chat-footer">
                <form name="form" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control chat-input-field"
                               placeholder="{{chat.inputPlaceholderText}}"
                               ng-model="chat.message"
                               required>
                        <span class="input-group-btn">
                            <input type="submit"
                                   class="btn btn-primary chat-submit-button"
                                   value="{{chat.submitButtonText}}"
                                   ng-click="chat.submitCall()"
                                   ng-disabled="form.$invalid">
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>